
</div>
<!-- <div class="footer-padding">hello world</div> -->
  <!-- <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div> -->
<div class="containsFooter">
  <footer class="footer">
    <div class="footer_content">
      <p>Made with ❤️ by Shweta Yadav</p>
    </div>
  </footer>
</div>

<!-- &#10084; -->
</body>

<!-- <footer class="footer">
  <div class="footer_content">
    <p>Made with ❤️ by Nilanshu Yadav</p>
  </div>
</footer> -->
</html>
