<%- include("partials/header") -%>

  <h1><%= postTitle %></h1>
  <p><%= postContent %></p>

  <!-- <h1>Oops!...</h1>
  <h3>The post you are searching, does not exists.....try again.</h3> -->

<%- include("partials/footer") -%>
